* {
	font-family: 'PT Serif', serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 16px;
	background-color: #6f6f6f;
	color: #313131;
}

.top-margin--big {
	margin-top: 2em;
}

ol.cont {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
}
ol.cont li {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	padding: 0.5em;
}

.bg--1 {
	background-color: #ffeacb;
}
.bg--over {
	background-color: #eec07c;
}
.bg--2 {
	background-color: #fbffcb;
}
.bg--3 {
	background-color: #cbfff7;
}

.step-inactive {
	color: #ccc;
}

.number {
	font-size: 3em;
	padding: 0 0.5em;
}

.action {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	font-size: 1.5em;
}
.action-area {
	min-height: 100px;
}

input[type="file"] {
	font-size: 0.7em;
}

.high {
	padding-top: 2em;
}

.images-holder-img {
	height: 120px;
	vertical-align: middle;
	padding: 0.3em;

	background: none;
	-webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}
.images-holder-img:hover {
	cursor: pointer;
	background: #aaa;
	-webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

.center-text {
	text-align: center;
}

.thumb {
	max-width: 125px;
	max-height: 125px;
	vertical-align: middle;
}

.text--smaller {
	font-size: 0.8em;
}

.pad-left {
	padding-left: 1em;
}

.download {
	border-collapse: separate;
	border-spacing: 0;
	border: none;
}

@media (max-width: 1210px) {
	.top-margin--big {
		margin-top: 0;
	}
}

@media (max-width: 600px) {
	html,
	body {
		font-size: 14px;
	}
}
@media (max-width: 400px) {
	html,
	body {
		font-size: 12px;
	}
}