* {
	font-family: 'PT Serif', serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 16px;
	background-color: #9c9c9c;
}

.top-margin--big {
	margin-top: 2em;
}

ol.cont {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
}
ol.cont li {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	padding: 0.5em;
}

.bg--1 {
	background-color: #ffeacb;
}
.bg--over {
	background-color: #eec07c;
}
.bg--2 {
	background-color: #fbffcb;
}
.bg--3 {
	background-color: #deffcb;
}

.number {
	font-size: 3em;
	padding: 0 0.5em;
}

.action {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	font-size: 1.5em;
	padding-right: 0.5em;
}
.action-area {
	min-height: 100px;
}

input[type="file"] {
	font-size: 0.7em;
}

.high {
	padding-top: 2em;
}

.images-holder-img {
	width: 100px;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	vertical-align: middle;
	cursor: pointer;
}

.center-text {
	text-align: center;
}

canvas {
	background-color: white;
}


@media (max-width: 1210px) {
	.top-margin--big {
		margin-top: 0;
	}
}