* {
	font-family: 'PT Serif', serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 16px;
	color: #313131;
}

.top-margin {
	margin-top: 1em;
}
.top-margin--big {
	margin-top: 2em;
}

.cont {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	font-size: 1.5em;
}

input[type="file"] {
	font-size: 0.7em;
	width: 17em;
}

.high {
	padding-top: 2em;
}

.dropzone {
	min-height: 4em;
	line-height: 4em;
	border: 1px dashed black;
	vertical-align: middle;
	padding: 0 0.5em;
}
.dropzone--inline {
	display: inline-block;
}
.dropzone--over {
	background-color: #94fbff;
}
.images-holder {
	min-height: 4em;
}
.images-holder-img {
	height: 4em;
	vertical-align: middle;
	padding: 0.3em;

	background: none;
	-webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}
.images-holder-img:hover {
	cursor: pointer;
	background: #aaa;
	-webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

.center-text {
	text-align: center;
}

.text--smaller {
	font-size: 0.8em;
}


@media (max-width: 1210px) {
	.top-margin--big {
		margin-top: 0;
	}
}

@media (max-width: 600px) {
	html,
	body {
		font-size: 14px;
	}
}
@media (max-width: 400px) {
	html,
	body {
		font-size: 12px;
	}
}