.composer-img {
    vertical-align: middle;
}
.composer-substrate {
    background-color: #aaa;
}
.composer-cont {
    border-collapse: separate;
    border: none;
    border-spacing: 0;
    margin: auto;
}
.composer-cont .composer-cell {
    width: 2em;
    height: 2em;
}
.composer-cell--left-active {
    background-image: -webkit-radial-gradient(center right, ellipse cover, rgb(33,233,250) 0%, rgba(0,0,0,0) 73%); 
    background-image: -moz-radial-gradient(center right, ellipse cover, rgb(33,233,250) 0%, rgba(0,0,0,0) 73%);  
    background-image: -ms-radial-gradient(center right, ellipse cover, rgb(33,233,250) 0%, rgba(0,0,0,0) 73%); 
    background-image: -o-radial-gradient(center right, ellipse cover, rgb(33,233,250) 0%, rgba(0,0,0,0) 73%);
}
.composer-cell--right-active {
    background-image: -webkit-radial-gradient(center left, ellipse cover, rgb(33,233,250) 0%, rgba(0,0,0,0) 73%); 
    background-image: -moz-radial-gradient(center left, ellipse cover, rgb(33,233,250) 0%, rgba(0,0,0,0) 73%);  
    background-image: -ms-radial-gradient(center left, ellipse cover, rgb(33,233,250) 0%, rgba(0,0,0,0) 73%); 
    background-image: -o-radial-gradient(center left, ellipse cover, rgb(33,233,250) 0%, rgba(0,0,0,0) 73%);
}
